main{
    /*border: 10px solid orange;*/
    display: flex;
    flex-direction: column;
    padding: 0% !important;
}

#tipo_alojamiento{
    /*border: 10px solid navy;*/
    height: 280px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    
}

#contenido_vacio{
    padding:1%;
}

#container_foto{
    /*border: 10px dashed orangered;*/
    overflow: hidden;
    position: relative;
}

#container_foto img{
    /*border: 10px solid olive;*/
    bottom: 300%;
    width: 100%;
    position: relative;
}

#container_texto{
    /*border: 10px dashed red;*/
    position: absolute;
    /*background-color: #00000070;*/
    background-color: #396908be;
    width: 100%;
    height: 100%;
    padding: 2%;
    color: #FFFFFF;
    backdrop-filter: blur(5px);
}

#container_texto h1{
    /*border: 10px solid seagreen;*/
    color: #FFFFFF;
}

#container_texto p{
    /*border: 10px solid slateblue;*/
    width: 90%;
}

#listado_alojamientos a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #396908;
    /*border: 10px solid green;*/
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.elem_alojamiento{
    /*border: 10px solid navy;*/
    display: flex;
    flex-direction: row;
}

.container_foto_listado{
/*    border: 10px dashed orange;*/
    width: 20%;
    display: flex;
}

.container_foto_listado img{
    width: 100%;
    margin: auto;
}

.txt_listado{
    /*border: 10px solid sienna;*/
    width: 70%;
    padding: 2%;
    font-size: 30px;
}

.accion_listado{
    /*border: 10px solid darkorchid;*/
    width: 10%;
    display: flex;
}

.accion_listado p{
    margin: auto;
    font-size: 80px;

}