main{
    /*border: 10px solid navy;*/
    width: 100%;
    height: 100%;
}

#hero_video{
    /*border: 10px solid orange;*/
    position: relative;
}


video{
    /*border: 10px dashed blue;*/
    width: 100%;
}

#txtWeb{
    /*border: 10px solid orangered;*/
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    margin: auto;
    display: flex;
    flex-direction: column ;
    color: #FFFFFF;
    
    background-color: rgba(57, 105, 8, 0.335);
}

#txtWeb h1{
    /*border: 10px solid darkcyan;*/
    width: 100%;
    text-align: center;
    font-size: 80px;
    margin: auto;
    
}

#txtWeb p{
    /*border: 10px dashed coral;*/
    text-align: center;
    font-size: 30px;
    margin: auto;
    width: 100%;
 }

 #descripciones{
     /*border: 10px solid navy;*/
 }

 article{
     /*border: 10px solid orange;*/
     display: flex;
     
 }

 .descripcion{
     /*border: 10px solid green;*/
     width: 70%;
     display: flex;
     flex-direction: column;
     padding: 1%;
 }

 .imagen{
    /*border: 10px solid teal;*/
    width: 30%;    
    }

    .imagen img{
        width: 100%;
        height: 100%;
    }

article h2{
    /*border: 10px dashed red;*/
    font-size: 35px;
    margin: auto;
    width: 100%;
}

article p{
    /*border: 10px dashed darkblue;*/
    font-size: 25px;
    margin: auto;
    width: 100%;
}

article:nth-child(even){
    flex-direction: row-reverse;
    background-color: #1c7406;
    color: #FFFFFF;
}

.descripcion a{
    text-decoration: none;
    background-color: #1c7406;
    color: #FFFFFF;
    margin: auto;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    padding: 1%;
    cursor: pointer;
    transition: 0.3s;
}

article:nth-child(even) .descripcion a{
    background-color: #FFFFFF;
    color: #1c7406;
}

.descripcion a:hover{
    background-color: #FFFFFF;
    color: #1c7406;
}

article:nth-child(even) .descripcion a:hover{
    background-color: #1c7406;
    color: #FFFFFF;
}